<div id="<%= dom_id(message) %>_messages">
  <div class="row mb-2">
    <div class="col-1 text-end">
      <%= raw icon_for(message) %>
    </div>
    <div class="col-10">
      <%= simple_format message.content %>
    </div>
  </div>
</div>