<div id="<%= dom_id chat %>">
  <p>
    <strong>User:</strong>
    <%= chat.user_id %>
  </p>

  <p>
    <strong>History:</strong>
    <%= chat.history %>
  </p>

  <p>
    <strong>Q a:</strong>
    <%= chat.q_a %>
  </p>

</div>
